<div id="intro">
  <span class="bold">Rayo</span> source code can be found on our Github page
</div>

<p>Source: <a href="http://github.com/rayo">GitHub</a></p>
<p>Artifacts: <a href="http://ci.voxeolabs.net/jenkins/job/Rayo/">CI Server</a></p>
