<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->

<head id="rayo.org" data-template-set="html5-reset">

	<meta charset="utf-8">
	
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title><%= @title %></title>
	
	<meta name="title" content="<%= @title || "Rayo Messaging Protocol" %>">
	<meta name="description" content="<%= @description || "Rayo is a message-oriented XML protocol for controlling phone calls, audio mixers and a variety of advanced media resources" %>">
	
	<!-- 
	Don't forget to set up: http://google.com/webmasters
	<meta name="google-site-verification" content="">
	 -->
	
	<meta name="author" content="Voxeo Corporation">
	<meta name="Copyright" content="Copyright Voxeo 2011. All Rights Reserved.">
	
	<!--  Mobile Viewport Fix
	j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag 
	device-width : Occupy full width of the screen in its current orientation
	initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
	maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
	-->
	<!-- Uncomment to use; use thoughtfully!
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	-->

	<link rel="shortcut icon" href="/images/favicon.ico">
		 
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<!-- The is the icon for iOS's Web Clip.
		 - size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for iPhone4's retina display (IMHO, just go ahead and use the biggest one)
		 - To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
		 - Transparency is not recommended (iOS will put a black BG behind the icon) -->
	
	<!-- CSS: screen, mobile & print are all in the same file -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/style.css">
	
	<!-- all our JS is at the bottom of the page, except for Modernizr. -->
	<script src="/js/modernizr-1.7.min.js"></script>

</head>

<body>
<div id="bolt" class="white"></div>
<div id="page">
	<div id="right">
		<%= yield %>
	</div>
	
	<div id="left">
		<div id="logo">
			<img src="/images/logo.png" width="242" height="223"/>
		</div>
		
		<ul id="nav">
			<li>
				<a href="#about" <% if @page == "about" %>class="selected"<% end %>>About</a>
			</li>
			
			<li>
				<a href="#spec">The Spec</a>
			</li>
			
			<li>
				<a href="#who">Who's Using It?</a>
			</li>
			
			<li>
				<a href="#discuss">Discuss</a>
			</li>
			
			<li>
				<a href="#sponsors">Sponsors</a>
			</li>
		</ul>
	</div>
</div>


<!-- here comes the javascript -->

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='/js/jquery-1.6.2.min.js'>\x3C/script>")</script>

<!-- this is where we put our custom functions -->
<script src="/js/functions.js"></script>

<!-- Asynchronous google analytics; this is the official snippet.
	 Replace UA-XXXXXX-XX with your site's ID and uncomment to enable.
	 
<script>

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXXX-XX']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
-->
  
</body>
</html>