<div id="title">
	Rayo Specification
</div>

<p>
    So why another protocol? While call and media control protocols are nothing new, 
    existing system are either way too low level and difficult to use (e.g. SIP, MRCP, MGCP, etc.) 
    or far too restrictive for highly interactive applications (e.g. VoiceXML, TwiML). 
    Rayo bridges the gap by providing a unified call+media control protocol that’s both simple to 
    use yet flexible enough to adapt to a wide array of network scenarios.
</p>

<p>
    So why another protocol? While call and media control protocols are nothing new, 
    existing system are either way too low level and difficult to use (e.g. SIP, MRCP, MGCP, etc.) 
    or far too restrictive for highly interactive applications (e.g. VoiceXML, TwiML). 
    Rayo bridges the gap by providing a unified call+media control protocol that’s both simple to 
    use yet flexible enough to adapt to a wide array of network scenarios.
</p>

<p>
    So why another protocol? While call and media control protocols are nothing new, 
    existing system are either way too low level and difficult to use (e.g. SIP, MRCP, MGCP, etc.) 
    or far too restrictive for highly interactive applications (e.g. VoiceXML, TwiML). 
    Rayo bridges the gap by providing a unified call+media control protocol that’s both simple to 
    use yet flexible enough to adapt to a wide array of network scenarios.
</p>

<p>
    So why another protocol? While call and media control protocols are nothing new, 
    existing system are either way too low level and difficult to use (e.g. SIP, MRCP, MGCP, etc.) 
    or far too restrictive for highly interactive applications (e.g. VoiceXML, TwiML). 
    Rayo bridges the gap by providing a unified call+media control protocol that’s both simple to 
    use yet flexible enough to adapt to a wide array of network scenarios.
</p>

<p>
    So why another protocol? While call and media control protocols are nothing new, 
    existing system are either way too low level and difficult to use (e.g. SIP, MRCP, MGCP, etc.) 
    or far too restrictive for highly interactive applications (e.g. VoiceXML, TwiML). 
    Rayo bridges the gap by providing a unified call+media control protocol that’s both simple to 
    use yet flexible enough to adapt to a wide array of network scenarios.
</p>

<p>
    So why another protocol? While call and media control protocols are nothing new, 
    existing system are either way too low level and difficult to use (e.g. SIP, MRCP, MGCP, etc.) 
    or far too restrictive for highly interactive applications (e.g. VoiceXML, TwiML). 
    Rayo bridges the gap by providing a unified call+media control protocol that’s both simple to 
    use yet flexible enough to adapt to a wide array of network scenarios.
</p>

<p>
    So why another protocol? While call and media control protocols are nothing new, 
    existing system are either way too low level and difficult to use (e.g. SIP, MRCP, MGCP, etc.) 
    or far too restrictive for highly interactive applications (e.g. VoiceXML, TwiML). 
    Rayo bridges the gap by providing a unified call+media control protocol that’s both simple to 
    use yet flexible enough to adapt to a wide array of network scenarios.
</p>

<p>
    So why another protocol? While call and media control protocols are nothing new, 
    existing system are either way too low level and difficult to use (e.g. SIP, MRCP, MGCP, etc.) 
    or far too restrictive for highly interactive applications (e.g. VoiceXML, TwiML). 
    Rayo bridges the gap by providing a unified call+media control protocol that’s both simple to 
    use yet flexible enough to adapt to a wide array of network scenarios.
</p>

<p>
    So why another protocol? While call and media control protocols are nothing new, 
    existing system are either way too low level and difficult to use (e.g. SIP, MRCP, MGCP, etc.) 
    or far too restrictive for highly interactive applications (e.g. VoiceXML, TwiML). 
    Rayo bridges the gap by providing a unified call+media control protocol that’s both simple to 
    use yet flexible enough to adapt to a wide array of network scenarios.
</p>

<p>
    So why another protocol? While call and media control protocols are nothing new, 
    existing system are either way too low level and difficult to use (e.g. SIP, MRCP, MGCP, etc.) 
    or far too restrictive for highly interactive applications (e.g. VoiceXML, TwiML). 
    Rayo bridges the gap by providing a unified call+media control protocol that’s both simple to 
    use yet flexible enough to adapt to a wide array of network scenarios.
</p>

<p>
    So why another protocol? While call and media control protocols are nothing new, 
    existing system are either way too low level and difficult to use (e.g. SIP, MRCP, MGCP, etc.) 
    or far too restrictive for highly interactive applications (e.g. VoiceXML, TwiML). 
    Rayo bridges the gap by providing a unified call+media control protocol that’s both simple to 
    use yet flexible enough to adapt to a wide array of network scenarios.
</p>

<p>
    So why another protocol? While call and media control protocols are nothing new, 
    existing system are either way too low level and difficult to use (e.g. SIP, MRCP, MGCP, etc.) 
    or far too restrictive for highly interactive applications (e.g. VoiceXML, TwiML). 
    Rayo bridges the gap by providing a unified call+media control protocol that’s both simple to 
    use yet flexible enough to adapt to a wide array of network scenarios.
</p>